body {
  background-color: bisque;
}

li {
  margin: 4px;
  border: 2px solid black;
  width: 25%;
}

ol {
  margin: 0px 100px;
  padding: 0px 100px;
}

#stories {
  border: 5px solid blue;
  border-radius: 25px;
  background-color: grey;
  color: white;
  width: 50%;
  margin: 0px auto;
  box-shadow: 10px 9px 100px 10px rgb(5, 5, 167);
}


.btn {
  border-radius: 20px;
  background-color: red;
  color: white;
  font-size: medium;
  padding: 15px;
  box-shadow: 5px 5px black;
}

.btn:active {
  background-color: salmon;
}

.header {
  display: flex;
  justify-content: center;
  margin: auto;
}
