body {
  background-color: bisque;
}

h1 {
  color: rgb(99, 99, 68);
}
h2 {
  padding: 10px;
  color: rgb(234, 163, 75);
}

li {
  margin: 4px;
  width: 25%;
}

ol {
  margin: 0px 100px;
  padding: 0px 100px;
}

.btn {
  border-radius: 20px;
  background-color: rgb(190, 68, 11);
  color: white;
  font-size: medium;
  padding: 10px;
}

.btn:active {
  background-color: salmon;
}

.header {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.listBox {
  border-radius: 25px;
  background-color: rgb(129, 110, 110);
  color: white;
  width: 50%;
  margin: 0px auto;
  box-shadow: 10px 9px 100px 10px rgb(117, 98, 75);
  padding: 0px auto;
  display: column-flex;
}

@media screen and (prefers-reduced-motion: reduce) {  
  * {
    /* Very short durations means JavaScript that relies on events still works */
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

@media screen and (orientation: portrait) {
  body {
    background-color: red;
  }
}
